@tailwind base;
@tailwind components;
@tailwind utilities;



@import "tailwindcss";

:root {
  font-family: "Vazirmatn", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  font-family: "Vazirmatn", sans-serif;
  box-sizing: border-box;
}

html {
  font-family: "Vazirmatn", sans-serif;
  direction: rtl;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: "Vazirmatn", sans-serif;
  direction: rtl;
  background: #f8fafc;
  color: #0f172a;
}

button,
input,
textarea,
select {
  font-family: "Vazirmatn", sans-serif;
}

button {
  font-weight: 500;
}

input,
textarea,
select {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
}